.MobileCity.rnr-s-empty > .rnr-c
{
background:none;

}
.MobileCity.rnr-s-empty > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.MobileCity.rnr-s-empty > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.MobileCity.rnr-s-empty > :not(.runner-c) > *.style1,
.MobileCity.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-empty > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.MobileCity.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1,
.MobileCity.rnr-s-empty > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-empty > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.MobileCity.rnr-s-empty > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.MobileCity.rnr-s-empty > :not(.runner-c) > *.style2,
.MobileCity.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-empty > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.MobileCity.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2,
.MobileCity.rnr-s-empty > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-empty > :not(.runner-c) > *.style3,
.MobileCity.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-empty > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.MobileCity.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3,
.MobileCity.rnr-s-empty > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-menu > .rnr-c
{
border: solid #C0C0C0 1px;
}
.MobileCity.rnr-s-menu > :not(.runner-c) > *.style1,
.MobileCity.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #696969;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-menu > .rnr-c.rnr-ch
{
background-image: none; background-color: #696969;
}
.MobileCity.rnr-s-menu > :not(.runner-c) > *.style2,
.MobileCity.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #343434;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-menu > :not(.runner-c) > *.style3,
.MobileCity.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #444444;color: #DCDCDC;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-menu > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.MobileCity.rnr-s-menu > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.MobileCity.rnr-s-menu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.MobileCity.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1,
.MobileCity.rnr-s-menu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-menu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.MobileCity.rnr-s-menu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.MobileCity.rnr-s-menu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.MobileCity.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2,
.MobileCity.rnr-s-menu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-menu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.MobileCity.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3,
.MobileCity.rnr-s-menu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-hmenu > .rnr-c
{
background:none;

}
.MobileCity.rnr-s-hmenu > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.MobileCity.rnr-s-hmenu > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.MobileCity.rnr-s-hmenu > :not(.runner-c) > *.style1,
.MobileCity.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-hmenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.MobileCity.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1,
.MobileCity.rnr-s-hmenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-hmenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.MobileCity.rnr-s-hmenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.MobileCity.rnr-s-hmenu > :not(.runner-c) > *.style2,
.MobileCity.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-hmenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.MobileCity.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2,
.MobileCity.rnr-s-hmenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-hmenu > :not(.runner-c) > *.style3,
.MobileCity.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-hmenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.MobileCity.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3,
.MobileCity.rnr-s-hmenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-undermenu > .rnr-c
{
border: solid #6699CC 2px;border-top-right-radius: 5px;border-top-left-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;
}
.MobileCity.rnr-s-undermenu > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 3px; padding-right: 2px;
border-bottom-right-radius: 3px; padding-right: 2px;

}
.MobileCity.rnr-s-undermenu > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 3px; padding-left: 2px;
border-bottom-left-radius: 3px; padding-left: 2px;

}
.MobileCity.rnr-s-undermenu > :not(.runner-c) > *.style1,
.MobileCity.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #343434;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-undermenu > .rnr-c.rnr-ch
{
background-image: none; background-color: #343434;
}
.MobileCity.rnr-s-undermenu > :not(.runner-c) > *.style2,
.MobileCity.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-undermenu > :not(.runner-c) > *.style3,
.MobileCity.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-undermenu > .rnr-c .rnr-leftbricks
{
margin-right: 5px;
}
.MobileCity.rnr-s-undermenu > .rnr-c .rnr-rightbricks
{
margin-left: 5px;
}
.MobileCity.rnr-s-undermenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.MobileCity.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1,
.MobileCity.rnr-s-undermenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.MobileCity.rnr-s-undermenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 5px; background:transparent;
}
.MobileCity.rnr-s-undermenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 5px; background:transparent;
}
.MobileCity.rnr-s-undermenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.MobileCity.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2,
.MobileCity.rnr-s-undermenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-undermenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.MobileCity.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3,
.MobileCity.rnr-s-undermenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-fields > :not(.runner-c) > *.style1,
.MobileCity.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #FFFFFF;color: #333381;
font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-fields > .rnr-c.rnr-ch
{
background-image: none; background-color: #FFFFFF;
}
.MobileCity.rnr-s-fields > :not(.runner-c) > *.style2,
.MobileCity.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #407EBD;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 15px; font-weight: bold; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-fields > :not(.runner-c) > *.style3,
.MobileCity.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3
{
background-color: #FFFFFF;
background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
background: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
;
color: #696969;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-fields > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.MobileCity.rnr-s-fields > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.MobileCity.rnr-s-fields > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.MobileCity.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1,
.MobileCity.rnr-s-fields > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 2px;
}
.MobileCity.rnr-s-fields > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.MobileCity.rnr-s-fields > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.MobileCity.rnr-s-fields > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.MobileCity.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2,
.MobileCity.rnr-s-fields > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 9px 6px;
}
.MobileCity.rnr-s-fields > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.MobileCity.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3,
.MobileCity.rnr-s-fields > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-form > .rnr-c
{
border-top-right-radius: 10px;border-top-left-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;
}
.MobileCity.rnr-s-form > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 10px; padding-right: 5px;
border-bottom-right-radius: 10px; padding-right: 5px;

}
.MobileCity.rnr-s-form > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 10px; padding-left: 5px;
border-bottom-left-radius: 10px; padding-left: 5px;

}
.MobileCity.rnr-s-form > :not(.runner-c) > *.style1,
.MobileCity.rnr-s-form > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #00CCCC;color: #000080;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-form > .rnr-c.rnr-ch
{
background-image: none; background-color: #00CCCC;
}
.MobileCity.rnr-s-form > :not(.runner-c) > *.style2,
.MobileCity.rnr-s-form > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-form > :not(.runner-c) > *.style3,
.MobileCity.rnr-s-form > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #003366;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-form > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.MobileCity.rnr-s-form > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.MobileCity.rnr-s-form > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.MobileCity.rnr-s-form > * > :not(.rnr-b-wrapper) .style1,
.MobileCity.rnr-s-form > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-form > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.MobileCity.rnr-s-form > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.MobileCity.rnr-s-form > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.MobileCity.rnr-s-form > * > :not(.rnr-b-wrapper) .style2,
.MobileCity.rnr-s-form > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-form > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.MobileCity.rnr-s-form > * > :not(.rnr-b-wrapper) .style3,
.MobileCity.rnr-s-form > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-1 > .rnr-c
{
border-top-right-radius: 5px;border-top-left-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;
}
.MobileCity.rnr-s-1 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 5px; padding-right: 2px;
border-bottom-right-radius: 5px; padding-right: 2px;

}
.MobileCity.rnr-s-1 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 5px; padding-left: 2px;
border-bottom-left-radius: 5px; padding-left: 2px;

}
.MobileCity.rnr-s-1 > :not(.runner-c) > *.style1,
.MobileCity.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #F9F9F9;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-1 > .rnr-c.rnr-ch
{
background-image: none; background-color: #F9F9F9;
}
.MobileCity.rnr-s-1 > :not(.runner-c) > *.style2,
.MobileCity.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #407EBD;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-1 > :not(.runner-c) > *.style3,
.MobileCity.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #D1EEEE;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-1 > .rnr-c .rnr-leftbricks
{
margin-right: 5px;
}
.MobileCity.rnr-s-1 > .rnr-c .rnr-rightbricks
{
margin-left: 5px;
}
.MobileCity.rnr-s-1 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.MobileCity.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1,
.MobileCity.rnr-s-1 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.MobileCity.rnr-s-1 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 5px; background:transparent;
}
.MobileCity.rnr-s-1 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 5px; background:transparent;
}
.MobileCity.rnr-s-1 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.MobileCity.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2,
.MobileCity.rnr-s-1 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-1 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.MobileCity.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3,
.MobileCity.rnr-s-1 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-2 > :not(.runner-c) > *.style1,
.MobileCity.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #F9F9F9;color: #333333;
font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-2 > .rnr-c.rnr-ch
{
background-image: none; background-color: #F9F9F9;
}
.MobileCity.rnr-s-2 > :not(.runner-c) > *.style2,
.MobileCity.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #3366FF;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-2 > :not(.runner-c) > *.style3,
.MobileCity.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-2 > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.MobileCity.rnr-s-2 > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.MobileCity.rnr-s-2 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.MobileCity.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1,
.MobileCity.rnr-s-2 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 4px;
}
.MobileCity.rnr-s-2 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.MobileCity.rnr-s-2 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.MobileCity.rnr-s-2 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.MobileCity.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2,
.MobileCity.rnr-s-2 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-2 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.MobileCity.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3,
.MobileCity.rnr-s-2 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-3 > .rnr-c
{
border-top-right-radius: 6px;border-top-left-radius: 6px;border-bottom-right-radius: 6px;border-bottom-left-radius: 6px;
}
.MobileCity.rnr-s-3 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 6px; padding-right: 3px;
border-bottom-right-radius: 6px; padding-right: 3px;

}
.MobileCity.rnr-s-3 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 6px; padding-left: 3px;
border-bottom-left-radius: 6px; padding-left: 3px;

}
.MobileCity.rnr-s-3 > :not(.runner-c) > *.style1,
.MobileCity.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #343434;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-3 > .rnr-c.rnr-ch
{
background-image: none; background-color: #343434;
}
.MobileCity.rnr-s-3 > :not(.runner-c) > *.style2,
.MobileCity.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #2E5C8B;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-3 > :not(.runner-c) > *.style3,
.MobileCity.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.rnr-s-3 > .rnr-c .rnr-leftbricks
{
margin-right: 6px;
}
.MobileCity.rnr-s-3 > .rnr-c .rnr-rightbricks
{
margin-left: 6px;
}
.MobileCity.rnr-s-3 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.MobileCity.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1,
.MobileCity.rnr-s-3 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-3 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 6px; background:transparent;
}
.MobileCity.rnr-s-3 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 6px; background:transparent;
}
.MobileCity.rnr-s-3 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.MobileCity.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2,
.MobileCity.rnr-s-3 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-3 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.MobileCity.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3,
.MobileCity.rnr-s-3 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.MobileCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > th:not(.rnr-cs),
.MobileCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > th:not(.rnr-cs),
.MobileCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > td:not(.rnr-cs),
.MobileCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > td:not(.rnr-cs)
{
background-color: #16589C; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;padding: 8px 7px;
}
.MobileCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-bottomrow > td:not(.rnr-cs),
.MobileCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-bottomrow > td:not(.rnr-cs)
{
background-color: #DCE2E6; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;padding: 6px 7px;
}
.MobileCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td:not(.rnr-cs),
.MobileCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td:not(.rnr-cs)
{
background-color: #F7F7F7; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;color: #333333;padding: 6px 7px;
}
.MobileCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs),
.MobileCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs)
{
background-color: #FFFFFF; background-image: none;color: #333333;
}
.MobileCity.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.MobileCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.MobileCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td.rnr-selected,
.MobileCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td.rnr-selected
{
background-color: #DCDCDC; background-image: none;color: #333333;
}
.MobileCity.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.MobileCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.MobileCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected,
.MobileCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected
{
background-color: #C0C0C0; background-image: none;color: #333333;
}
.MobileCity .rnr-search-highlight
{
color: #FF0000; background-color: transparent;
}
.MobileCity .rnr-b-vmenu.simple.main > *,
.MobileCity .rnr-b-vmenu.tree.main > *:not(.subitem)
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.simple.main > * > hr,
.MobileCity .rnr-b-vmenu.tree.main > *:not(.subitem) > hr
{
border-color:#FFFFFF;
}
.MobileCity .rnr-b-vmenu.simple.main > *:hover:not(.expanded):not(.menuSeparator),
.MobileCity .rnr-b-vmenu.tree.main > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.simple.main > *.current.current.current,
.MobileCity .rnr-b-vmenu.tree.main > *:not(.subitem).current.current.current
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.simple.main > *:hover:hover:hover.expanded
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.simple.main > * > ul li,
.MobileCity .rnr-b-vmenu.tree.main > *.subitem
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.simple.main > * > ul li > hr,
.MobileCity .rnr-b-vmenu.tree.main > *.subitem > hr
{
border-color:#9D9D9D;
}
.MobileCity .rnr-b-vmenu.simple.main > * > ul li:hover:not(.expanded):not(.menuSeparator),
.MobileCity .rnr-b-vmenu.tree.main > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.simple.main > * > ul li.current.current.current,
.MobileCity .rnr-b-vmenu.tree.main > *.subitem.current.current.current
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.simple.main > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.tree.main > *:not(.subitem) > div
{
padding: 4px 3px; margin:1px 1px;
}
.MobileCity .rnr-b-vmenu.simple.main > * > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.MobileCity .rnr-b-vmenu.tree.main > *.subitem > div
{
padding: 4px 3px; margin:1px 1px;
}
.MobileCity .rnr-b-vmenu.simple.main > * > ul li > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.MobileCity .rnr-b-vmenu.simple.main >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.MobileCity .rnr-b-vmenu.simple.second > *,
.MobileCity .rnr-b-vmenu.tree.second > *:not(.subitem)
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.simple.second > * > hr,
.MobileCity .rnr-b-vmenu.tree.second > *:not(.subitem) > hr
{
border-color:#FFFFFF;
}
.MobileCity .rnr-b-vmenu.simple.second > *:hover:not(.expanded):not(.menuSeparator),
.MobileCity .rnr-b-vmenu.tree.second > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.simple.second > *.current.current.current,
.MobileCity .rnr-b-vmenu.tree.second > *:not(.subitem).current.current.current
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.simple.second > *:hover:hover:hover.expanded
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.simple.second > * > ul li,
.MobileCity .rnr-b-vmenu.tree.second > *.subitem
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.simple.second > * > ul li > hr,
.MobileCity .rnr-b-vmenu.tree.second > *.subitem > hr
{
border-color:#9D9D9D;
}
.MobileCity .rnr-b-vmenu.simple.second > * > ul li:hover:not(.expanded):not(.menuSeparator),
.MobileCity .rnr-b-vmenu.tree.second > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.simple.second > * > ul li.current.current.current,
.MobileCity .rnr-b-vmenu.tree.second > *.subitem.current.current.current
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.simple.second > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-vmenu.tree.second > *:not(.subitem) > div
{
padding: 4px 3px; margin:1px 1px;
}
.MobileCity .rnr-b-vmenu.simple.second > * > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.MobileCity .rnr-b-vmenu.tree.second > *.subitem > div
{
padding: 4px 3px; margin:1px 1px;
}
.MobileCity .rnr-b-vmenu.simple.second > * > ul li > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.MobileCity .rnr-b-vmenu.simple.second >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.MobileCity .rnr-b-hmenu.main > div:not(.rnr-hseparator)
{
background-color: #343434;
background: -webkit-linear-gradient(top, #707070, #343434);
background: -moz-linear-gradient(top, #707070, #343434);
background: -ms-linear-gradient(top, #707070, #343434);
background: -o-linear-gradient(top, #707070, #343434);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;padding: 5px 6px;border-top-right-radius: 6px;border-top-left-radius: 6px;border: solid #494949 2px;
}
.MobileCity .rnr-b-hmenu.main > div:not(.rnr-hseparator) > hr
{
border-color:#FFFFFF;
}
.MobileCity .rnr-b-hmenu.main:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-color: #343434;
background: -webkit-linear-gradient(top, #707070, #343434);
background: -moz-linear-gradient(top, #707070, #343434);
background: -ms-linear-gradient(top, #707070, #343434);
background: -o-linear-gradient(top, #707070, #343434);
;
color:#9D9D9D;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-hmenu.main.current.current > div:not(.rnr-hseparator)
{
background-color: #343434;
background: -webkit-linear-gradient(top, #707070, #343434);
background: -moz-linear-gradient(top, #707070, #343434);
background: -ms-linear-gradient(top, #707070, #343434);
background: -o-linear-gradient(top, #707070, #343434);
;
color:#9D9D9D;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-hmenu.main:hover.expanded > div:not(.rnr-hseparator)
{
background-color: #343434;
background: -webkit-linear-gradient(top, #707070, #343434);
background: -moz-linear-gradient(top, #707070, #343434);
background: -ms-linear-gradient(top, #707070, #343434);
background: -o-linear-gradient(top, #707070, #343434);
;
color:#9D9D9D;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-hmenu.main > ul li
{
background-color: #343434;
background: -webkit-linear-gradient(top, #6E6E6E, #343434);
background: -moz-linear-gradient(top, #6E6E6E, #343434);
background: -ms-linear-gradient(top, #6E6E6E, #343434);
background: -o-linear-gradient(top, #6E6E6E, #343434);
;
color:#9D9D9D;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.MobileCity .rnr-b-hmenu.main > ul li > hr
{
border-color:#9D9D9D;
}
.MobileCity .rnr-b-hmenu.main > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-color: #343434;
background: -webkit-linear-gradient(top, #6E6E6E, #343434);
background: -moz-linear-gradient(top, #6E6E6E, #343434);
background: -ms-linear-gradient(top, #6E6E6E, #343434);
background: -o-linear-gradient(top, #6E6E6E, #343434);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.MobileCity .rnr-b-hmenu.main > ul li.current.current
{
background-color: #343434;
background: -webkit-linear-gradient(top, #6E6E6E, #343434);
background: -moz-linear-gradient(top, #6E6E6E, #343434);
background: -ms-linear-gradient(top, #6E6E6E, #343434);
background: -o-linear-gradient(top, #6E6E6E, #343434);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.MobileCity .rnr-b-hmenu.main > ul li:hover.expanded
{
background-color: #343434;
background: -webkit-linear-gradient(top, #6E6E6E, #343434);
background: -moz-linear-gradient(top, #6E6E6E, #343434);
background: -ms-linear-gradient(top, #6E6E6E, #343434);
background: -o-linear-gradient(top, #6E6E6E, #343434);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.MobileCity .rnr-b-hmenu.main > ul li > div > div
{
padding: 4px 3px; margin:1px 1px;
}
.MobileCity .rnr-b-hmenu.main ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.MobileCity .rnr-b-hmenu.main.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
.MobileCity .rnr-b-hmenu.second > div:not(.rnr-hseparator)
{
background-color: #343434;
background: -webkit-linear-gradient(top, #707070, #343434);
background: -moz-linear-gradient(top, #707070, #343434);
background: -ms-linear-gradient(top, #707070, #343434);
background: -o-linear-gradient(top, #707070, #343434);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;padding: 5px 6px;border-top-right-radius: 6px;border-top-left-radius: 6px;border: solid #494949 2px;
}
.MobileCity .rnr-b-hmenu.second > div:not(.rnr-hseparator) > hr
{
border-color:#FFFFFF;
}
.MobileCity .rnr-b-hmenu.second:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-color: #343434;
background: -webkit-linear-gradient(top, #707070, #343434);
background: -moz-linear-gradient(top, #707070, #343434);
background: -ms-linear-gradient(top, #707070, #343434);
background: -o-linear-gradient(top, #707070, #343434);
;
color:#9D9D9D;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-hmenu.second.current.current > div:not(.rnr-hseparator)
{
background-color: #343434;
background: -webkit-linear-gradient(top, #707070, #343434);
background: -moz-linear-gradient(top, #707070, #343434);
background: -ms-linear-gradient(top, #707070, #343434);
background: -o-linear-gradient(top, #707070, #343434);
;
color:#9D9D9D;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-hmenu.second:hover.expanded > div:not(.rnr-hseparator)
{
background-color: #343434;
background: -webkit-linear-gradient(top, #707070, #343434);
background: -moz-linear-gradient(top, #707070, #343434);
background: -ms-linear-gradient(top, #707070, #343434);
background: -o-linear-gradient(top, #707070, #343434);
;
color:#9D9D9D;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-b-hmenu.second > ul li
{
background-color: #343434;
background: -webkit-linear-gradient(top, #6E6E6E, #343434);
background: -moz-linear-gradient(top, #6E6E6E, #343434);
background: -ms-linear-gradient(top, #6E6E6E, #343434);
background: -o-linear-gradient(top, #6E6E6E, #343434);
;
color:#9D9D9D;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.MobileCity .rnr-b-hmenu.second > ul li > hr
{
border-color:#9D9D9D;
}
.MobileCity .rnr-b-hmenu.second > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-color: #343434;
background: -webkit-linear-gradient(top, #6E6E6E, #343434);
background: -moz-linear-gradient(top, #6E6E6E, #343434);
background: -ms-linear-gradient(top, #6E6E6E, #343434);
background: -o-linear-gradient(top, #6E6E6E, #343434);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.MobileCity .rnr-b-hmenu.second > ul li.current.current
{
background-color: #343434;
background: -webkit-linear-gradient(top, #6E6E6E, #343434);
background: -moz-linear-gradient(top, #6E6E6E, #343434);
background: -ms-linear-gradient(top, #6E6E6E, #343434);
background: -o-linear-gradient(top, #6E6E6E, #343434);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.MobileCity .rnr-b-hmenu.second > ul li:hover.expanded
{
background-color: #343434;
background: -webkit-linear-gradient(top, #6E6E6E, #343434);
background: -moz-linear-gradient(top, #6E6E6E, #343434);
background: -ms-linear-gradient(top, #6E6E6E, #343434);
background: -o-linear-gradient(top, #6E6E6E, #343434);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.MobileCity .rnr-b-hmenu.second > ul li > div > div
{
padding: 4px 3px; margin:1px 1px;
}
.MobileCity .rnr-b-hmenu.second ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.MobileCity .rnr-b-hmenu.second.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
body.MobileCity
{

background-color:#F7F7F7;
}
.MobileCity .rnr-list
{
color: #000000;background-color: #FFFFFF;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;border: solid #696969 1px;box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.MobileCity .rnr-tab.selected
{
background-color:#16589C;
border-top-right-radius:4px;
border-top-left-radius:4px;

}
.MobileCity .rnr-tab
{
background-color:#E9E9E9;
border-top-right-radius:4px;
border-top-left-radius:4px;
border: solid #808080 1px; border-bottom-width:0;
}
.MobileCity .rnr-tab.selected > a
{
color: #FFFFFF;

}
.MobileCity .rnr-tab > a
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .yui-navset .yui-content
{
border: solid #16589C 1px;border-top-width: 5px;
}
.MobileCity  .rnr-message
{
background-color: #EBEDEF;border: solid #C0C0C0 1px;color: #16589C;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity  .rnr-error.rnr-error
{
color: #A80000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity .yui3-panel-content.yui3-panel-content
{
border-radius: 5px;
}
.MobileCity  .yui3-panel .yui3-widget-hd.yui3-widget-hd.yui3-widget-hd
{
background-color: #407EBD; background-image: none;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.MobileCity  .yui3-widget-ft
{
background-color: #407EBD; background-image: none;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.MobileCity .rnr-dbbordered
{
border-radius: 5px;
}
.MobileCity  .rnr-dbelemheader
{
background-color: #407EBD; background-image: none;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.MobileCity  .rnr-dbelemfooter
{
background-color: #D8D8D8; background-image: none;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;color: #000000;
}
.MobileCity  .rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow
{
background-color: #FFFACD; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #4C4951;
}
.MobileCity .rnr-dashboard
{
background-color: #FFFFFF;
}
.MobileCity .rnr-button.rnr-button,
.MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.MobileCity .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .MobileCity .rnr-button.rnr-button,
 .rnr-pagewrapper .MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .MobileCity .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .button.button.button.rnr-button.rnr-button
{
border: solid 2px;border-radius: 4px;padding: 3px 9px 4px;background-color: #E2E6E7;
background: -webkit-linear-gradient(top, #F0F2F3, #E2E6E7);
background: -moz-linear-gradient(top, #F0F2F3, #E2E6E7);
background: -ms-linear-gradient(top, #F0F2F3, #E2E6E7);
background: -o-linear-gradient(top, #F0F2F3, #E2E6E7);
;
border-color: #849197;color: #333333;
font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.MobileCity .rnr-button.rnr-button.img,
.MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.MobileCity .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .MobileCity .rnr-button.rnr-button.img,
 .rnr-pagewrapper .MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .MobileCity .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .button.button.button.rnr-button.rnr-button.img
{
padding: 3px;

}
.MobileCity .rnr-button:hover,
.MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
.MobileCity .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .MobileCity .rnr-button:hover,
 .rnr-pagewrapper .MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .MobileCity .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .button.button.button.rnr-button:hover
{
background-color: #FFFFFF;
background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
background: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
;
border-color: #849197;color: #333333;

}
.MobileCity .rnr-button:active,
.MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
.MobileCity .button.button.button.rnr-button:active,
 .rnr-pagewrapper .MobileCity .rnr-button:active,
 .rnr-pagewrapper .MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .MobileCity .button.button.button.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .button.button.button.rnr-button:active
{
background-color: #DFE2E4;
background: -webkit-linear-gradient(top, #EFF0F1, #DFE2E4);
background: -moz-linear-gradient(top, #EFF0F1, #DFE2E4);
background: -ms-linear-gradient(top, #EFF0F1, #DFE2E4);
background: -o-linear-gradient(top, #EFF0F1, #DFE2E4);
;
border-color: #849197;color: #333333;

}
.MobileCity .rnr-button.disabled,
.MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.MobileCity .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .MobileCity .rnr-button.disabled,
 .rnr-pagewrapper .MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .MobileCity .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .button.button.button.rnr-button.disabled
{
background-color: #C0C0C0;
background: -webkit-linear-gradient(top, #DFDFDF, #C0C0C0);
background: -moz-linear-gradient(top, #DFDFDF, #C0C0C0);
background: -ms-linear-gradient(top, #DFDFDF, #C0C0C0);
background: -o-linear-gradient(top, #DFDFDF, #C0C0C0);
;
border-color: #696969;color: #A9A9A9;

}
.MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.MobileCity .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .MobileCity .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .link.link.link.rnr-button.rnr-button
{
background: none; border: none; ;
border: none;border-radius: 0px;padding: 4px 8px 4px;color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.MobileCity .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .MobileCity .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .link.link.link.rnr-button.rnr-button.img
{
padding: 4px;

}
.MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
.MobileCity .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .MobileCity .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .link.link.link.rnr-button:hover
{
color: #FE4F29;

}
.MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
.MobileCity .link.link.link.rnr-button:active,
 .rnr-pagewrapper .MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .MobileCity .link.link.link.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .link.link.link.rnr-button:active
{
color: #004080;

}
.MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.MobileCity .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .MobileCity .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .link.link.link.rnr-button.disabled
{
color: #004080;

}
.MobileCity .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .MobileCity .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .main.main.main.rnr-button.rnr-button
{
border: solid 2px;border-radius: 4px;padding: 3px 9px 4px;background-color: #F4F5F7;
background: -webkit-linear-gradient(top, #F9FAFB, #F4F5F7);
background: -moz-linear-gradient(top, #F9FAFB, #F4F5F7);
background: -ms-linear-gradient(top, #F9FAFB, #F4F5F7);
background: -o-linear-gradient(top, #F9FAFB, #F4F5F7);
;
border-color: #849197;color: #333333;
font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.MobileCity .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .MobileCity .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .main.main.main.rnr-button.rnr-button.img
{
padding: 3px;

}
.MobileCity .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .MobileCity .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .main.main.main.rnr-button:hover
{
background-color: #FFFFFF;
background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
background: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
;
border-color: #849197;color: #333333;

}
.MobileCity .main.main.main.rnr-button:active,
 .rnr-pagewrapper .MobileCity .main.main.main.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .main.main.main.rnr-button:active
{
background-color: #DFE2E4;
background: -webkit-linear-gradient(top, #EFF0F1, #DFE2E4);
background: -moz-linear-gradient(top, #EFF0F1, #DFE2E4);
background: -ms-linear-gradient(top, #EFF0F1, #DFE2E4);
background: -o-linear-gradient(top, #EFF0F1, #DFE2E4);
;
border-color: #849197;color: #333333;

}
.MobileCity .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .MobileCity .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .MobileCity .main.main.main.rnr-button.disabled
{
background-color: #C0C0C0;
background: -webkit-linear-gradient(top, #DFDFDF, #C0C0C0);
background: -moz-linear-gradient(top, #DFDFDF, #C0C0C0);
background: -ms-linear-gradient(top, #DFDFDF, #C0C0C0);
background: -o-linear-gradient(top, #DFDFDF, #C0C0C0);
;
border-color: #696969;color: #A9A9A9;

}
