<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_main} rnr-wrapper rnr-cbw-main">

{BEGIN container_main}
<div class="rnr-c rnr-cv rnr-c-main">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel oc_audit view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-viewfields {$brickclass_viewfields}"><table class="fieldGrid">
	{BEGIN id_fieldblock}
<tr class="{$fielddispclass_id}" data-fieldname="id">
	<td class="rnr-label">
		{$label oc_audit id}
	</td>
	<td class="rnr-control style3">
		{$id_value}&nbsp;
	</td>
</tr>
{END id_fieldblock}
	{BEGIN datetime_fieldblock}
<tr class="{$fielddispclass_datetime}" data-fieldname="datetime">
	<td class="rnr-label">
		{$label oc_audit datetime}
	</td>
	<td class="rnr-control style3">
		{$datetime_value}&nbsp;
	</td>
</tr>
{END datetime_fieldblock}
	{BEGIN ip_fieldblock}
<tr class="{$fielddispclass_ip}" data-fieldname="ip">
	<td class="rnr-label">
		{$label oc_audit ip}
	</td>
	<td class="rnr-control style3">
		{$ip_value}&nbsp;
	</td>
</tr>
{END ip_fieldblock}
	{BEGIN user_fieldblock}
<tr class="{$fielddispclass_user}" data-fieldname="user">
	<td class="rnr-label">
		{$label oc_audit user}
	</td>
	<td class="rnr-control style3">
		{$user_value}&nbsp;
	</td>
</tr>
{END user_fieldblock}
	{BEGIN table_fieldblock}
<tr class="{$fielddispclass_table}" data-fieldname="table">
	<td class="rnr-label">
		{$label oc_audit table}
	</td>
	<td class="rnr-control style3">
		{$table_value}&nbsp;
	</td>
</tr>
{END table_fieldblock}
	{BEGIN action_fieldblock}
<tr class="{$fielddispclass_action}" data-fieldname="action">
	<td class="rnr-label">
		{$label oc_audit action}
	</td>
	<td class="rnr-control style3">
		{$action_value}&nbsp;
	</td>
</tr>
{END action_fieldblock}
	{BEGIN description_fieldblock}
<tr class="{$fielddispclass_description}" data-fieldname="description">
	<td class="rnr-label">
		{$label oc_audit description}
	</td>
	<td class="rnr-control style3">
		{$description_value}&nbsp;
	</td>
</tr>
{END description_fieldblock}
</table></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Volver a la lista</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Cerrar ventana</a>
{END close_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_view}

</div>


</div>
{END container_main}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
