<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Preparando para imprimir</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}




		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">


<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel oc_audit print}</h1>
</div>


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Página <span class="rp-pageno">{$pageno}</span> / <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN id_fieldheadercolumn}
<th class="runner-cc {$id_class}" {$id_style}>
	{BEGIN id_fieldheader}
	<b>{$label oc_audit id}</b>
	{END id_fieldheader}
</th>
{END id_fieldheadercolumn}
	{BEGIN datetime_fieldheadercolumn}
<th class="runner-cc {$datetime_class}" {$datetime_style}>
	{BEGIN datetime_fieldheader}
	<b>{$label oc_audit datetime}</b>
	{END datetime_fieldheader}
</th>
{END datetime_fieldheadercolumn}
	{BEGIN ip_fieldheadercolumn}
<th class="runner-cc {$ip_class}" {$ip_style}>
	{BEGIN ip_fieldheader}
	<b>{$label oc_audit ip}</b>
	{END ip_fieldheader}
</th>
{END ip_fieldheadercolumn}
	{BEGIN user_fieldheadercolumn}
<th class="runner-cc {$user_class}" {$user_style}>
	{BEGIN user_fieldheader}
	<b>{$label oc_audit user}</b>
	{END user_fieldheader}
</th>
{END user_fieldheadercolumn}
	{BEGIN table_fieldheadercolumn}
<th class="runner-cc {$table_class}" {$table_style}>
	{BEGIN table_fieldheader}
	<b>{$label oc_audit table}</b>
	{END table_fieldheader}
</th>
{END table_fieldheadercolumn}
	{BEGIN action_fieldheadercolumn}
<th class="runner-cc {$action_class}" {$action_style}>
	{BEGIN action_fieldheader}
	<b>{$label oc_audit action}</b>
	{END action_fieldheader}
</th>
{END action_fieldheadercolumn}
	{BEGIN description_fieldheadercolumn}
<th class="runner-cc {$description_class}" {$description_style}>
	{BEGIN description_fieldheader}
	<b>{$label oc_audit description}</b>
	{END description_fieldheader}
</th>
{END description_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN id_fieldcolumn}
<td  class="runner-cc {$id_class}" {$id_style} {$recordattrs}>
	{$id_value}
</td>
{END id_fieldcolumn}
	{BEGIN datetime_fieldcolumn}
<td  class="runner-cc {$datetime_class}" {$datetime_style} {$recordattrs}>
	{$datetime_value}
</td>
{END datetime_fieldcolumn}
	{BEGIN ip_fieldcolumn}
<td  class="runner-cc {$ip_class}" {$ip_style} {$recordattrs}>
	{$ip_value}
</td>
{END ip_fieldcolumn}
	{BEGIN user_fieldcolumn}
<td  class="runner-cc {$user_class}" {$user_style} {$recordattrs}>
	{$user_value}
</td>
{END user_fieldcolumn}
	{BEGIN table_fieldcolumn}
<td  class="runner-cc {$table_class}" {$table_style} {$recordattrs}>
	{$table_value}
</td>
{END table_fieldcolumn}
	{BEGIN action_fieldcolumn}
<td  class="runner-cc {$action_class}" {$action_style} {$recordattrs}>
	{$action_value}
</td>
{END action_fieldcolumn}
	{BEGIN description_fieldcolumn}
<td  class="runner-cc {$description_class}" {$description_style} {$recordattrs}>
	{$description_value}
</td>
{END description_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
